openapi: 3.0.3
info:
  title: Ainflue API
  description: |
    AI-Powered Content Protection & Monetization Platform API
    
    This API provides comprehensive content protection, fingerprinting, and monetization capabilities
    powered by advanced AI and machine learning technologies.
    
    ## Features
    - Multi-format content fingerprinting (audio, video, image, text)
    - Real-time violation monitoring across platforms
    - Automated DMCA takedown system
    - Revenue tracking and monetization
    - Creator collaboration matching
    - Advanced analytics and reporting
    
    ## Authentication
    All API endpoints require authentication using JWT tokens.
    Include the token in the Authorization header: `Bearer <token>`
    
    ## Rate Limits
    - Standard: 1000 requests/hour
    - Premium: 10000 requests/hour
    - Enterprise: Unlimited
    
    ## Support
    For technical support: mlaiel@live.de
    
  version: "2.0.0"
  contact:
    name: Fahed Mlaiel
    email: mlaiel@live.de
  license:
    name: Proprietary
servers:
  - url: https://api.ainflue.com
    description: Production server
  - url: https://staging-api.ainflue.com
    description: Staging server
  - url: http://localhost:8000
    description: Development server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          description: Additional error details
      required:
        - error
        - code

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        full_name:
          type: string
        avatar_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time
        subscription_tier:
          type: string
          enum: [free, premium, enterprise]
        verified:
          type: boolean

    ContentItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        content_type:
          type: string
          enum: [audio, video, image, text]
        file_url:
          type: string
          format: uri
        file_size:
          type: integer
        duration:
          type: number
          description: Duration in seconds (for audio/video)
        fingerprint_id:
          type: string
        protection_status:
          type: string
          enum: [pending, protected, failed]
        monitoring_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object

    Fingerprint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content_id:
          type: string
          format: uuid
        fingerprint_type:
          type: string
          enum: [audio, video, image, text]
        algorithm:
          type: string
        hash_value:
          type: string
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
        processing_time:
          type: number
        created_at:
          type: string
          format: date-time

    Violation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content_id:
          type: string
          format: uuid
        platform:
          type: string
          enum: [youtube, instagram, tiktok, twitter, facebook, spotify]
        violation_url:
          type: string
          format: uri
        detected_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [detected, dmca_sent, resolved, dismissed]
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
        evidence_urls:
          type: array
          items:
            type: string
            format: uri

    Revenue:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content_id:
          type: string
          format: uuid
        platform:
          type: string
        amount:
          type: number
        currency:
          type: string
        period:
          type: string
          enum: [daily, weekly, monthly]
        generated_at:
          type: string
          format: date-time

paths:
  # Authentication Endpoints
  /api/auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and return JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                  user:
                    $ref: '#/components/schemas/User'
        401:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Content Management
  /api/content:
    get:
      tags: [Content]
      summary: List user content
      description: Retrieve all content items for the authenticated user
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: content_type
          in: query
          schema:
            type: string
            enum: [audio, video, image, text]
      responses:
        200:
          description: Content list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentItem'
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer

    post:
      tags: [Content]
      summary: Upload new content
      description: Upload and process new content for protection
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                title:
                  type: string
                description:
                  type: string
                enable_monitoring:
                  type: boolean
                  default: true
              required:
                - file
                - title
      responses:
        201:
          description: Content uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        400:
          description: Invalid file or request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/content/{content_id}:
    get:
      tags: [Content]
      summary: Get content details
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Content details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentItem'
        404:
          description: Content not found

  # Fingerprinting
  /api/fingerprint/{content_id}:
    post:
      tags: [Fingerprinting]
      summary: Generate fingerprint
      description: Create a fingerprint for the specified content
      parameters:
        - name: content_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                algorithm:
                  type: string
                  enum: [chromaprint, spectral, clip, bert]
                quality:
                  type: string
                  enum: [fast, balanced, accurate]
      responses:
        200:
          description: Fingerprint generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fingerprint'

  # Monitoring
  /api/monitoring/violations:
    get:
      tags: [Monitoring]
      summary: List violations
      description: Retrieve detected violations for user content
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [detected, dmca_sent, resolved, dismissed]
        - name: platform
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        200:
          description: Violations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Violation'
                  total:
                    type: integer

  /api/monitoring/scan:
    post:
      tags: [Monitoring]
      summary: Trigger manual scan
      description: Manually trigger a scan across platforms for user content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                platforms:
                  type: array
                  items:
                    type: string
      responses:
        202:
          description: Scan initiated successfully

  # Revenue Tracking
  /api/revenue:
    get:
      tags: [Revenue]
      summary: Get revenue data
      description: Retrieve revenue information for user content
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: monthly
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        200:
          description: Revenue data retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  revenue_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Revenue'
                  total_revenue:
                    type: number
                  period_growth:
                    type: number

  # Collaboration
  /api/collaboration/requests:
    get:
      tags: [Collaboration]
      summary: List collaboration requests
      responses:
        200:
          description: Collaboration requests retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    from_user:
                      $ref: '#/components/schemas/User'
                    content_id:
                      type: string
                      format: uuid
                    message:
                      type: string
                    status:
                      type: string
                      enum: [pending, accepted, declined]
                    created_at:
                      type: string
                      format: date-time

    post:
      tags: [Collaboration]
      summary: Send collaboration request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to_user_id:
                  type: string
                  format: uuid
                content_id:
                  type: string
                  format: uuid
                message:
                  type: string
              required:
                - to_user_id
                - content_id
      responses:
        201:
          description: Collaboration request sent

  # Analytics
  /api/analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Get dashboard analytics
      description: Retrieve comprehensive analytics for dashboard display
      responses:
        200:
          description: Analytics data retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_content:
                    type: integer
                  protected_files:
                    type: integer
                  monthly_revenue:
                    type: number
                  active_monitoring:
                    type: integer
                  total_violations:
                    type: integer
                  resolved_violations:
                    type: integer
                  revenue_growth:
                    type: number
                  content_growth:
                    type: number

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Content
    description: Content upload and management
  - name: Fingerprinting
    description: Content fingerprinting and identification
  - name: Monitoring
    description: Platform monitoring and violation detection
  - name: Revenue
    description: Revenue tracking and monetization
  - name: Collaboration
    description: Creator collaboration features
  - name: Analytics
    description: Analytics and reporting